body {
  background-color: lightblue;
}

.navbar-brand img {
    height:50px;

}

.navbar {
    position: relative;
}

.navbar-brand {
   /* position: absolute;*/
    margin-left: 50px !important;  /* 50% of your logo width */
   /* display: block; */
   padding: 0px;
}