body {
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    background-color: #d1d1d1;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.hero {
  background-attachment: scroll;
  background-image: url("../images/bull.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  isolation: isolate;
  position: relative;
  padding: 200px 0 200px;
}

.hero::after {
  content:'';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #212529;
  opacity: 0.5;
}

.page-heading {
  color: white;
  font-family: 'Cinzel', serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
}

.subheading {
  color: white;
  font-family: 'Cinzel', serif;
  font-size:24px;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 25%;
}

.input-form-all {
  margin: 50px 0;
}

 .input-form {
   margin: 0 30%;
 }

 .section-heading {
   color: black;
   font-weight: bold;
   font-size: 2.5rem;
   line-height: 1.2;

 }
