/*
fonts:
font-family: 'Cinzel', serif;
font-family: 'Sawarabi Mincho', serif;
*/

body {
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    background-color: #d1d1d1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sawarabi Mincho', serif;
    font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

a {
  color: #8f8f8f;
  font-size: 1.25rem;
}


.form-label {
    font-size: 1.5rem;
}

.form-control {
    font-size: 1.25rem;
 }

 .input-form {
    margin: 0 25% 0 25%;
 }

 .heading {
    padding:10px 0;
 }

.masthead {
    height: 100px;
}

.hero-image {
  background-image: url('https://images.unsplash.com/photo-1439434768192-c60615c1b3c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RvY2slMjBtYXJrZXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
background-image: