{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}


{% block content %}

  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1439434768192-c60615c1b3c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RvY2slMjBtYXJrZXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="color: white;">Stock Returns Application</h1>
            <span class="subheading" style="color: white;">This application will return charts displaying price action and distribution of returns
            over user specified timeframe.</span>
          </div>
        </div>
      </div>
    </div>
  </header>


<div class="form-block">
    <h1 class="heading">Search for Stock with Valid Ticker Symbol</h1>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mt-3">
          {% for category, message in messages %}
            <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {{ render_form(form) }}

</div>

{% endblock %}


</body>
</html>