{% extends 'base.html' %}


{% block content %}


<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Stock Returns Application</h1>
    <h3>This application will return charts displaying price action and distribution of returns
            over user specified timeframe</h3>
  </div>
</div>



<div class="input-form-all">

  <h1 class="heading">Search for Stock with Valid Ticker Symbol</h1>
  <div class="input-form">
    <form name="sentMessage" id="contactForm" action="{{ url_for('home') }}" method="post" novalidate>
      <div class="mb-3">
        <label class="form-label">Stock Ticker</label>
        <input class="form-control" type="text" name="ticker" placeholder="Example: TSLA">
      </div>
      <div class="mb-3">
        <label class="form-label">Start Date</label>
        <input class="form-control" type="text" name="start_date" placeholder="Example: 01/01/2000">
      </div>
      <div class="mb-3">
        <label class="form-label">End Date</label>
        <input class="form-control" type="text" name="end_date" placeholder="Example: Example: 11/01/2022">
      </div>
      <div class="mb-3">
        <label class="form-label">Return Period</label>
        <input class="form-control" type="text" name="ret_period" placeholder="Example: 25">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-lg btn-outline-dark" id="sendMessageButton">Get Data</button>
      </div>
    </form>
  </div>


</div>




{% endblock %}


</body>
</html>